body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajusta esto según tus necesidades */
    width: 100vw; /* Ajusta esto según tus necesidades */
    background-color: #F3F5FC;
}

header {
    width: 100%;
    height: 40px; /* Ajusta esto según tus necesidades */
}

#Logo {
    position: absolute;
    top: 5px; 
    left: 20px; 
}

.caja {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main {
    display: flex;
    width: 100%;
    height: calc(100% - 40px); /* Ajusta esto según tus necesidades */
}

.contenedor1 {
    width: 70%;
    height: 100%;
 

}

.input-placeholder {
    position: relative;
    height: 100%;
}

::placeholder {
    position: absolute;
    color: #0A3871;
    pointer-events: none;
    font-size: 40px; /* Ajusta esto según tus necesidades */
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

#input-container {
    height: 70%;
    
}

.cajita-text{
    width: 65%;
    height: 85%;
    border: none;
    background-color: #f4f4fc;
    cursor: pointer;
    color: #0A3871;
    border-color: #0A3871;
    font-size: 24px; /* Ajusta esto según tus necesidades */
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin-left: 180px; /* Ajusta esto según tus necesidades */
    margin-top: 40px; /* Ajusta esto según tus necesidades */
    padding-top: 50px;
    padding-left: 20px;
}

/* Estilo para la div que contiene el mensaje y los botones */
.aviso-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px; 
    width:100%;
    height: 15%;
   
}
/* Estilo para el mensaje */
.aviso {
    margin-top: 30px;
    display: flex; /* Usamos flexbox para alinear los elementos */
   margin-right: 20%; /* Los elementos se centran verticalmente */
    color: #495057; /* Le damos un color al texto */
}

/* Estilo para los botones */
.botones {
    display: flex; /* Usamos flexbox para alinear los elementos */
    width: 80%;
    margin-top: 30px;
}

/* Estilo para el botón de encriptar */
#encrypt {
    width: 30%; /* Le damos un ancho al botón */
    height: 50px; /* Le damos un alto al botón */
    border-radius: 18px; /* Le damos un borde redondeado al botón */
    background-color: #0A3871; /* Le damos un color de fondo al botón */
    color: white; /* Le damos un color al texto del botón */
    font-size: 12px; /* Le damos un tamaño al texto del botón */
    font-weight: 400; /* Le damos un grosor al texto del botón */
    font-family: 'Inter', sans-serif; /* Le damos una fuente al texto del botón */
    border: none; /* Le quitamos el borde al botón */
    cursor: pointer; /* Le cambiamos el cursor al botón */
   margin-right: 2.5%;
margin-left: 15%;
}

/* Estilo para el botón de desencriptar */
#decrypt {
    width: 30%; /* Le damos un ancho al botón */
    height: 50px; /* Le damos un alto al botón */
    border-radius: 18px; /* Le damos un borde redondeado al botón */
    background-color: #D8DFE8; /* Le damos un color de fondo al botón */
    color: #0A3871; /* Le damos un color al texto del botón */
    font-size: 12px; /* Le damos un tamaño al texto del botón */
    font-weight: 400; /* Le damos un grosor al texto del botón */
    font-family: 'Inter', sans-serif; /* Le damos una fuente al texto del botón */
    border: 1px solid #0A3871; /* Le damos un borde al botón */
    cursor: pointer; /* Le cambiamos el cursor al botón */

}

.contenedor2{
    width: 30%;
    display: block;
    position: relative; /* Esto es importante para que el botón se posicione en relación a este contenedor */
    height: 600px; /* Ajusta esto según tus necesidades */
    right: 90px; /* Ajusta esto según tus necesidades */
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 24px; /* Ajusta esto según tus necesidades */
    box-shadow: 0px 18px 24px -6px rgba(0, 0, 0, 0.50);
    resize: none;
}

#entradadetexto{
    resize: none;
}

.areaderespuesta {
   
    display: flex;
    flex-direction: column;
   margin-top: 20%; /* Esto alinea los elementos al inicio del eje principal */
    align-items: center;
    height: 100%;
}

#personita2{
    display: none;
}

#titulo1 {
    text-align: center;
    font-weight: bold; 
    font-size: 20px; /* Ajusta esto según tus necesidades */
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 70%; /* Ajusta esto según tus necesidades */
}

#txt2 {
    text-align: center;
    font-weight: bold; 
    font-size: 12px; /* Ajusta esto según tus necesidades */
    color: #495057;
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 75%;/* Ajusta esto según tus necesidades */
   
}

#resultado {
    text-align: left;
    font-weight: bold; 
    font-size: 20px; /* Ajusta esto según tus necesidades */
    color: #495057;
    font-family: 'Inter', sans-serif;
    margin-top: 20px; /* Ajusta esto según tus necesidades */
}
#Copiar{
    display: none;
    width: 246px; /* Ajusta esto según tus necesidades */
    height: 50px; /* Ajusta esto según tus necesidades */
    border-radius: 18px; /* Ajusta esto según tus necesidades */
    background-color:white;
    color: #0A3871;
    border-color: #0A3871;
    font-size: 12px; /* Ajusta esto según tus necesidades */
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 2px solid; /* Aquí le damos un ancho de 2px y un estilo sólido al borde */
    cursor: pointer;
    position: absolute; /* Esto hace que el botón se posicione en relación al contenedor 2 */
    bottom: 20px; /* Esto hace que el botón se sitúe a 20px del borde inferior del contenedor */
}

/* Seleccionamos el botón Copiar cuando se hace clic */
#Copiar:active {
    /* Escalamos el botón a un 90% de su tamaño original */
    transform: scale(0.9);
    /* Rotamos el botón 10 grados en sentido horario */
    transform: rotate(10deg);
    /* Establecemos una transición de 0.3 segundos para la animación */
    transition: 0.3s;
  }
  

@media only screen and (max-width: 1024px) {
     
    body {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    
    main {
        height: 100%; 
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #Logo {
        top: 10px;
        left: 0;
        position: relative;
        margin: 0 auto;
    }

    .contenedor1 {
        margin-top: 20px;
        height: 70%;
        order: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #input-container {
        height: 70%;
        width: 85%;
    }

    .cajita-text {
        margin: 0;
        width: 100%;
        
    }
   
    .aviso-botones {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 10px; 
        width:100%;
        height: auto; 
    }

    .aviso {
        font-size: 25px;
        width: 100%;
        height: auto; 
        margin-left: 35%;
        flex-direction: column;
        margin-top: 0%;
    }
    .botones {
        width: 100%;
        height: auto; 
        margin-left: 20%;
        flex-direction: column;
        margin-top: 0%;
    }

    #encrypt, #decrypt {
        height: 60px; 
        width: 80%;
        margin-bottom: 10px;
        font-size: 40px;
        margin-left: 0%;
    }


    .contenedor2 {
        width: 95%; 
        height: calc(30% - 40px );  
        order: 2; 
        margin-left: 15%; 
        margin-right: auto; 
        padding: 0; 
        border: none; 
        overflow: auto;
      
        
    }
    .areaderespuesta {
        
        display: flex;
        flex-direction: column;
        justify-content: center; 
        height: 100%;
    }

    #personita, #personita2 {
        display: none;
    }

    #personita2 img {
        width: 1px;
        height: 1px;
    }

    #titulo1 {
        font-size: 40px;
        position: absolute;
        top: 25px
    }

    #txt2 {
        position: absolute; 
        font-size: 20px;
        top: 70px
    }

    #resultado {
        font-size: 25px;
        overflow: auto;
       position: absolute; 
     word-wrap: break-word;
          
         top: 0; 
        }
    

    #Copiar {
        width: 80%;
        height: 50px;
        font-size: 40px;
        position: fixed;
        bottom: 13%;
    }

    #git {

      font-size: 40px;  

    }
  
}

  @media only screen and (max-width: 480px) {
    body {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    
    main {
        height: 100%; 
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #Logo {
        top: 10px;
        left: 0;
        position: relative;
        margin: 0 auto;
    }

    .contenedor1 {
        margin-top: 20px;
        height: 70%;
        order: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #input-container {
        height: 70%;
        width: 85%;
    }

    .cajita-text {
        margin: 0;
        width: 100%;
        
    }
    /* Estilo para la div que contiene el mensaje y los botones */
    .aviso-botones {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 10px; 
        width:100%;
        height: auto; /* Cambia la altura del contenedor .aviso-botones a auto */
    }

    .aviso {
        width: 100%;
        height: auto; /* Cambia la altura del contenedor .aviso a auto */
        margin-left: 35%;
        flex-direction: column;
        margin-top: 0%;
    }
    .botones {
        width: 100%;
        height: auto; /* Cambia la altura del contenedor .botones a auto */
        margin-left: 20%;
        flex-direction: column;
        margin-top: 0%;
    }

    #encrypt, #decrypt {
        height: 60px; /* Aumenta la altura de los botones a 60px */
        width: 80%;
        margin-bottom: 10px;
        font-size: 20px;
        margin-left: 0%;
    }


    .contenedor2 {
        width: 95%; /* El contenedor 2 ocupa el 85% del ancho de la pantalla */
        height: calc(30% - 40px - 60px);  /* El contenedor 2 ocupa el 30% de la altura de la pantalla */
        order: 2; /* El contenedor 2 se muestra después del contenedor 1 */
        margin-left: 27%; /* Centra el contenedor 2 horizontalmente */
        margin-right: auto; /* Centra el contenedor 2 horizontalmente */
        padding: 0; /* Reset del padding */
        border: none; /* Reset del border */
        overflow: auto;
      
        
    }
    .areaderespuesta {
        
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centra los elementos a lo largo del eje principal */
        align-items: center;
        height: 100%;
    }

    #personita, #personita2 {
        display: none;
    }

    #personita2 img {
        width: 1px;
        height: 1px;
    }

    #titulo1 {
        font-size: 20px;
        position: absolute;
        top: 25px
    }

    #txt2 {
        position: absolute; 
        font-size: 15px;
        top: 45px
    }

    #resultado {
        font-size: 16px;
        overflow: auto;
       position: absolute; /* Posiciona el párrafo en relación al contenedor */
     word-wrap: break-word;
          
         top: 0; /* Alinea el párrafo con la parte superior del contenedor */
        }
    

    #Copiar {
        width: 80%;
        height: 50px;
        font-size: 20px;
        position: fixed;
        bottom: 13%;
    }
}
